<p class="Message" style="display: none;"> </p>
<ol id="buildList">
	<li>
		<b>House</b>
		<ol>
			<li>
				<p>House description</p>
				<input type="button" value="Build!" id="House" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Flat</b>
		<ol>
			<li>
				<p>Flat description</p>
				<input type="button" value="Build!" id="Flat" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Shop</b>
		<ol>
			<li>
				<p>Shop description</p>
				<input type="button" value="Build!" id="Shop" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Farm</b>
		<ol>
			<li>
				<p>Farm description</p>
				<input type="button" value="Build!" id="Farm" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Mill</b>
		<ol>
			<li>
				<p>Mill description</p>
				<input type="button" value="Build!" id="Mill" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Mine</b>
		<ol>
			<li>
				<p>Mine description</p>
				<input type="button" value="Build!" id="Mine" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Cement Kiln</b>
		<ol>
			<li>
				<p>Kiln description</p>
				<input type="button" value="Build!" id="Kiln" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Textile</b>
		<ol>
			<li>
				<p>Textile description</p>
				<input type="button" value="Build!" id="Textile" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>
	<li >
		<b>Oil Drill</b>
		<ol>
			<li>
				<p>Drill description</p>
				<input type="button" value="Build!" id="Drill" onclick="makeBuilding(this);"/>
			</li>
		</ol>
	</li>

</ol>