<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Register for Business portal</title>

		<link href="/style/register.css" type="text/css" rel="stylesheet"/>

		<script type="text/javascript" src="/script/jquery/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="/script/register.js"></script>

	</head>

	<body>
		<div class="wrapper">
			<div class="container">
				<form action="/" method="post">
					<input type="text" name = "UserName" placeholder="User Name" id="userName">
					<div id="userLabel" style="display:none;">
						lol
					</div>
					<br>
					<input type="text" name = "Name" placeholder="Full Name" id="name">
					<br>
					<input type="password" name="Password" placeholder="Password" id="password">
					<br>
					<input type="button" name="Check" value="Check for user name" id = "checkUser">
					<br>
					<input type="button" value = "Register!!" id="registerUser">
				</form>
			</div>
			<ul class="bg-bubbles">
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
				<li>

				</li>
			</ul>
		</div>
	</body>
</html>